<%= form_for @changeset, @action, fn f -> %>
  <%= if @changeset.action do %>
    <div class="alert alert-danger">
      <p>Oops, something went wrong! Please check the errors below.</p>
    </div>
  <% end %>

  <%= label f, :name %>
  <%= text_input f, :name %>
  <%= error_tag f, :name %>

  <%= label f, :contest_date %>
  <%= date_select f, :contest_date %>
  <%= error_tag f, :contest_date %>

  <%= label f, :active %>
  <%= checkbox f, :active %>
  <%= error_tag f, :active %>

  <div>
    <%= submit "Save" %>
  </div>
<% end %>
