<h1>Show Contest</h1>

<ul>

  <li>
    <strong>Name:</strong>
    <%= @contest.name %>
  </li>

  <li>
    <strong>Contest date:</strong>
    <%= @contest.contest_date %>
  </li>

  <li>
    <strong>Active:</strong>
    <%= @contest.active %>
  </li>

</ul>

<span><%= link "Edit", to: Routes.contest_path(@conn, :edit, @contest) %></span>
<span><%= link "Back", to: Routes.contest_path(@conn, :index) %></span>
